header {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  max-width: 100%;
}
.header-container {
  display: flex;
  padding: 2.5%;
  justify-content: space-between;
}
.header-container a{
  text-decoration: none;
  color: white;
}
.website-title {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.nav {
  padding-right: 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.new-project {
  font-size:3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  transition: transform .5s,background-image 1s;
}
.new-project:hover {
  transform: scale(1.9);
}

.project-text {
  color:white;
  
  background-color: rgba(187, 178, 254, 0.15); 
  backdrop-filter: blur(9px);

  margin: 3%;
  padding: 15px;
  max-width:50%;
}
.project-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

  padding-right: 3%;
  padding-bottom: 1%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-title {
  font-size:2em;
}
.github-icon {
  height: 36px;
  width: 36px;
  background-size: cover;
  background-color: rgba(32, 40, 51, .25);
  border: 3px solid rgba(32, 40, 51, .25);
  border-radius: 100%;

  transition: transform .5s,background-image 1s;
}
.github-icon:hover {
  background-color: rgba(220, 220, 220, 0.75);
  border: 3px solid rgba(220, 220, 220, 0.75);

  transform: scale(1.35);
}
li.jotnotes {
  list-style-type: none;
}
.jotnotes {
  font-size:1.25em;

  padding-left: 45px;
}
.jotnotes ul li {
  list-style-type: disc;
}