header {
  /* background-image: linear-gradient(black); */
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.header-container a{
  text-decoration: none;
  color: black;

  max-width: 100%;
}
.header-container a p{
  padding: 2.5%;
  color: white;
}
.website-title {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

